.container {
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;
  border: 1px solid var(--gray-400);
  background-color: var(--gray-500);
  border-radius: 8px;
  padding: 1rem;
}

.container svg {
  color: var(--gray-300);
  padding: 0.25rem;
  border-radius: 4px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.container svg:hover {
  color: var(--danger);
  background-color: var(--gray-400);
}

.container input:checked ~ p {
  text-decoration: line-through;
  color: var(--gray-300);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.checkbox + label {
  font-size: 1px;
  letter-spacing: -1px;
  color: transparent;
  cursor: pointer;
  padding: 0.125rem;
}

.checkbox + label::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--blue);
  display: inline-block;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.checkbox:checked + label::before {
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
  background-image: url("./assets/white-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox:checked + label:hover::before,
.checkbox:checked:focus-visible + label::before {
  background-color: var(--purple);
  border-color: var(--purple);
  background-image: url("./assets/white-check.svg");
}

.checkbox + label:hover::before,
.checkbox:focus-visible + label::before {
  background-color: rgb(var(--blue-dark-rgb), 0.2);
  border-color: var(--blue-dark);
  background-image: url("./assets/blue-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox:focus-visible + label::before {
  outline: auto;
}
